<nav class="ui menu">
  <header class="ui header item"> <a href="/"> WeatherTop_V2 </a></header>
  <title class="ui title item"> Please sign-up or log-in</title>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

