{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid">
  <div class="column">
    <header class="ui header"> Weather App </header>
    <p> Monitor latest weather station readings </p>
  </div>
  <div class="column">
    <img class="ui image" src="images/icons.jpg">
  </div>
</section>
