{{> menu}}


<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    <p>{{station.name}} Weather Station</p>
  </h2>
  {{> stationpanel}}
  {{> listreadings}}
  {{> addreading}}
</section>
